* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    border: 1px solid black;

    padding: 30px 70px;


    .links {
        display: flex;
        gap: 140px;
        
        a {
            color: black;
        }
    }
}


#aboveTheFold {
    background: linear-gradient(100deg, #00CBE6 50%, #FD5852 50%) ;
    height: 70vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;

    text-align: center;
    color: white;


    gap: 20px;


    h1 {
        font-size: 72px;
        
    }


    img[src="Img/Charizard.png"] {
        height: 70vh;
        width: auto;

        position: absolute;
        right: 0;
        top: 90px;
    }

    img[src="Img/Charizard-fire-red-cover.png"] {
        height: 70vh;
        width: auto;
        
        position: absolute;
        left: 0;
        top: 90px;
    }
}


#roms {
    padding: 30px 50px;


    h2 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
        font-size: 32px;
    }

    .roms {        
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        gap: 70px;


        div {
            display: flex;

            justify-content: center;

            border-radius: 25px;
            text-align: center;

            font-size: 24px;

            padding: 15px 0;

            box-shadow: 15px 10px 0 2px rgba(0, 0, 0, 0.274);


            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                a {
                    color: black;
                    position: relative;

                    &::after {
                        content: '';
                        background-color: black;
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        width: 0%;
                        height: 2px;
                        transition: width 0.4s;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                
                }
            }            


        }


        .GameboyRoms,
        .NDSRoms {
            background-color: #00CBE6;
        }
        
        .ThreeDSRoms,
        .SwitchRoms {
            background-color:#FD5852;
        }
    }
    

}


#emuladors {
    padding: 30px 50px;

            
    h2 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
        font-size: 32px;
    }

    
    .emuladors {
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        gap: 70px;


        div {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 240px;
            gap: 20px;

            border-radius: 25px;

            padding-top: 80px;
            

            a {
                font-size: 24px;
                color: black;

                position: relative;

                &::after {
                    content: '';
                    background-color: black;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    width: 0%;
                    height: 2px;
                    transition: width 0.4s;
                }

                &:hover::after {
                    width: 100%;
                }
            }


            span {
                color: rgba(255, 255, 255, 0.856);
            }

            button {
                width: 140px;
                height: 40px;
                font-size: 24px;
            }
        }

        .VisualboyAdvanced,
        .Desmume {
            background-color: #00CBE6;
        }

        .Citra,
        .Yuzu {
            background-color: #FD5852;
        }
    }
}